extends _layouts/with-sidebar

block head_end
    link(rel="stylesheet" href="assets/css/style.css")
    link(rel="stylesheet" href="assets/css/select2.min.css")
block sidebar
    .side-filters
        div.side-filters__wrapper
            .side-filters__select-wrapper
                select.side-filters__filter.side-filters__filter--select.btn(data-filter="forum")
                    option
                    option(value="1") 1
                    option(value="1") 2
                    option(value="1") 3
                select.side-filters__filter.side-filters__filter--select.btn(data-filter="theme")
                    option
                    option(value="1") 1
                    option(value="1") 2
                    option(value="1") 3
                select.side-filters__filter.side-filters__filter--select.btn(data-filter="year")
                    option
                    option(value="1") 1
                    option(value="1") 2
                    option(value="1") 3
                select.side-filters__filter.side-filters__filter--select.btn(data-filter="author")
                    option
                    option(value="1") 1
                    option(value="1") 2
                    option(value="1") 3
            .side-filters__counter
                span Всего <b>23 452</b> материалов
block content
    each material in materials
        article.material.material--full
            .material__img(class="#{material.imgClass}")
                img(src="assets/img/#{material.img}.png" alt="#{material.title}")
            .material__content
                a(href="in-focus-single.html")
                    h3.material__title #{material.title}
                a.link.link--sm(href="in-focus-single.html")
                    span.material__category #{material.category}
                a(href="in-focus-single.html")
                    p.material__descr #{material.thesis}
                a(href="in-focus-single.html")
                    p.material__text #{material.text}
                a(href="in-focus-single.html")
                    span.material__date #{material.date}
                each author in material.authors
                        a(href="in-focus-single.html")
                            span.material__author #{author}
    .material__more
            a(href="").link.link--lg Показать больше
block body_end
    script(type="text/javascript" src="assets/js/select2.full.min.js")
    script(type="text/javascript" src="assets/js/script.js")
